@use "/src/themes/variables" as *;
:host{
  color: var(--hue-txt-clear, aliceBlue);
}

form{
  display: grid;
  margin-top: 18px;
  grid-gap : $card-gap ;
  grid-template-columns: repeat(1, 1fr);
  .mat-form-field{ grid-column: 1fr; }
  @media only screen and (min-width: 500px) {grid-template-columns: repeat(2, 1fr);}
  @media only screen and (min-width: 750px) {grid-template-columns: repeat(3, 1fr);}
  @media only screen and (min-width: 1200px) {grid-template-columns: repeat(4, 1fr);}
  @media only screen and (min-width: 1600px) {grid-template-columns: repeat(5, 1fr);}
}
